  * {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }
  
  body {
  	background-image: url('../images/grass.png');
  	background-repeat: repeat;
    
  	background-color: transparent;
  	overflow: hidden; /* Prevent scrollbars from appearing */
  }

  canvas {
	background-color: black;
	width:100%;	
	height:100%;
  }

  #bg_console {
	position:absolute;
	top:0px;
	left:0px;
	border:2px solid white;
	background-color: rgba(255, 255, 255, .4);
	height:385px;
	width:300px;
  }

#chart-container {
    position: absolute;
    top: 385px;
    left: 0px;
    border: 4px solid white;
    background-color: rgba(255, 255, 255, .4);
    height: 200px;
    width: 300px;
}

#network-visualization {
    position: absolute;
    top: 585px;
    left: 0px;
    border: 4px solid white;
    background-color: rgba(255, 255, 255, .4);
    height: 400px;
    width: 300px;
}

.hidden {
    display: none !important;
}

.activated {
    background-color: yellow !important;
    border: 2px solid orange !important;
}